.photos-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.photos-column {
  flex: 50%;
  padding: 0 4px;
}

.photos-column img {
  margin-top: 8px;
  width: 100%;
  vertical-align: middle;
}